body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 {
  text-align: center;
  font-size: 50px;
}
header > nav {
  text-align: center;
}
header > nav > a {
  color: white;
  font-size: 22px;
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
  text-decoration: none;
  background-color: brown;
}
.red {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}
#Carl {
  text-align: center;
  font-size: 18px;
}
section > p {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#details > div{
  float: left;
  background-color: brown;
  text-align: center;
  width: 25%;
  padding-left: auto;
  padding-right: auto;
}

